<app-header></app-header>
<!--<app-camera (pictureTaken)="takePicture($event)"></app-camera>
<img *ngFor="let img of webcamImages" [src]="img.imageAsDataUrl" width="200" class="img-wc">
<br/>
<button (click)="uploadFromWebcam()" class="btn-upload">Upload from Webcam</button>-->

<form [formGroup]="formGroup" (ngSubmit)="submit()" class="upload-form">

  <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>

  <button class="btn-upload">DETECT OBJECT</button>

</form>

<div class="result">
  <figure *ngIf="originalImg">
    <figcaption>Original</figcaption>
    <img src="{{originalImg}}" alt="Original" width="450"/>
  </figure>
  <figure *ngIf="plotSrc">
    <figcaption>Object detected and Class Activation Map</figcaption>
    <img src="{{plotSrc}}" alt="Object detected" width="1000"/>
  </figure>
</div>
<router-outlet></router-outlet>
