<app-header></app-header>
<app-camera (pictureTaken)="takePicture($event)"></app-camera>
<img *ngFor="let img of webcamImages" [src]="img.imageAsDataUrl" width="200" class="img-wc">
<br/>
<button (click)="uploadFromWebcam()" class="btn-upload">Upload from Webcam</button>

<form [formGroup]="formGroup" (ngSubmit)="submit()" class="upload-form">

  <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>

  <button class="btn-upload">Upload Training Images</button>

</form>

<div class="result">
  <figure>
    <img src="{{originalImg}}" alt="Original" width="450"/>
    <figcaption>Original</figcaption>
  </figure>
  <figure>
    <img src="{{plotSrc}}" alt="Object detected" width="450"/>
    <figcaption>Object detected</figcaption>
  </figure>
  <figure>
    <img src="{{originalImg}}" alt="Class Activation Map" width="450"/>
    <figcaption>Class Activation Map</figcaption>
  </figure>
</div>
<router-outlet></router-outlet>
