.btn-upload {
  padding: 10px;
  background-color: rgba(53, 88, 118, 1);
  border: 1px solid rgba(53, 88, 118, 1);
  border-radius: 3px;
  width: 150px;
  margin: 10px 45%;
  cursor: pointer;
  color: white;
}

.img-wc {
  margin-right: 10px;
}

.upload-form {
  margin-top: 10px;
}

figure {
  float: left;
  width: 450px;
}
