.btn-upload {
  padding: 10px;
  background-color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 3px;
  width: 150px;
  margin: 10px auto;
  cursor: pointer;
}

.img-wc {
  margin-right: 10px;
}

.upload-form {
  margin-top: 10px;
}
