<div class="container">
  <p>
    Let Watching movie
  </p>

  <div class="watching">
    <img src="../../assets/movie.jpeg">
  </div>
  <div class="recommender">
    <p>
      RELATED MOVIES
    </p>
    <a href="javascript:void(0)" *ngFor="let movie of recommendMovies" (click)="selectMovie(movie.movieid)"
       data-toggle="tooltip" title="Predict: {{movie.pre_rating}}"
         class="movie-block">
      <img src="../../assets/movie-icon.png" alt="{{movie.movieimg}}">
      <span>{{movie.moviename}}</span>
    </a>
  </div>
</div>

